<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_vhost_alias.c>
        RewriteBase /
    </IfModule>
	
	RewriteRule ^img/(.*)?$ web/img/$1 [L]
	
	# Imagenes y estilos
    RewriteRule ^img/(.*)?$ web/img/$1 [L]
	RewriteRule ^js/(.*)?$ web/js/$1 [L]
    RewriteRule ^css/(.*)?$ web/css/$1 [L]
    RewriteRule ^fonts/(.*)?$ web/fonts/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ web/index.php [QSA,L]
</IfModule>
